<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="esolutions.lifelog" type="ESolutions.LifeLog.Models.LifeLogSettings"/>
  </configSections>
  <connectionStrings>
    <add name="MyDataContext" connectionString="metadata=res://*/MyDataContext.csdl|res://*/MyDataContext.ssdl|res://*/MyDataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=ESolutions.LifeLog;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ChartImageHandler" value="storage=memory;deleteAfterServicing=true;"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <globalization uiCulture="de" culture="de"/>
    <compilation debug="true" targetFramework="4.6.1"/>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <esolutions.lifelog>
    <DatabaseUser>QjVEoQQSXo2nJ6J783K6vAbpro1yFrSgOmJ8SAbpxpE=</DatabaseUser>
    <DatabasePassword>WLEf9CJJsZCcZG7hARaermEm5In4u10Ly+enIdojKsg=</DatabasePassword>
    <DataSource>2oc51sAD4aVP2RK1UH4CHA==</DataSource>
    <InitialCatalog>cQyluARmhho88nH2jmm2M3nlm2nlW1oal2HnkUzhr+DMRbSe5MMgVJx5gx1/ukd3</InitialCatalog>
    <AbsolutePicturePathPattern>C:\code\Sources\ESolutions.LifeLog\Web.UI\Pictures\{0}.jpg</AbsolutePicturePathPattern>
    <RealtivePictureUrlPattern>~/Pictures/{0}.jpg</RealtivePictureUrlPattern>
    <DefaultSystolic>120</DefaultSystolic>
    <DefaultDiastolic>60</DefaultDiastolic>
    <DefaultHeartRate>70</DefaultHeartRate>
  </esolutions.lifelog>
</configuration>