<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="esolutions.lifelog" type="ESolutions.LifeLog.Web.UI.Models.LifeLogSettings"/>
	</configSections>
	<connectionStrings>
		<add name="MyDataContext" connectionString="metadata=res://*/MyDataContext.csdl|res://*/MyDataContext.ssdl|res://*/MyDataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=ESolutions.LifeLog;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<esolutions.lifelog>
		<DatabaseUser>QjVEoQQSXo2nJ6J783K6vAbpro1yFrSgOmJ8SAbpxpE=</DatabaseUser>
		<DatabasePassword>WLEf9CJJsZCcZG7hARaermEm5In4u10Ly+enIdojKsg=</DatabasePassword>
		<DataSource>2oc51sAD4aVP2RK1UH4CHA==</DataSource>
		<InitialCatalog>cQyluARmhho88nH2jmm2M3nlm2nlW1oal2HnkUzhr+DMRbSe5MMgVJx5gx1/ukd3</InitialCatalog>
		<AbsolutePicturePathPattern>C:\code\Sources\ESolutions.LifeLog\Web.UI\Pictures\{0}.jpg</AbsolutePicturePathPattern>
		<RealtivePictureUrlPattern>~/Pictures/{0}.jpg</RealtivePictureUrlPattern>
		<DefaultSystolic>120</DefaultSystolic>
		<DefaultDiastolic>60</DefaultDiastolic>
		<DefaultHeartRate>70</DefaultHeartRate>
	</esolutions.lifelog>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
